* {
  box-sizing: border-box;
}

body {
  background-color: #003366;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCC66;
  padding: 16px 30px;
}

.logo,
.dummyLogo {
  max-width: 60px;
  border-radius: 250px;
  border: 2px solid #336699;
}

.logo:hover {
  transform: rotate(180deg);
  transition: all 2.0s;
  cursor: help;
}

.tittle {
  color:  #336699;
  font-size: 30px;
  margin: 0px;
}

.mainContainer {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainTittle {
  color: #ffffff;
  font-size: 25px;
  margin: 0px;
  text-align: center;
  padding: 0px;
}

.displayMain {
  padding: 20px 30px;
  border: 5px solid #336699;
  border-radius: 100px;
  gap: 80px;
  background-color: #FFCC66;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profileContainer {
  min-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profileImg {
  max-width: 100px;
  min-height: 200px;
}

.profileName {
  font-size: 20px;
  margin: 0;
  color: #336699;
}

.selectionImage {
  max-width: 100px;
  min-height: 100px;
  border-radius: 50%;
}

.playerSelectionBox, .computerSelectionBox {
  min-height: 100px;
}

.displayBottom {
  min-height: 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.centerView {
  min-height: 25px;
  color: #FFCC66;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #336699;
  font-size: 20px;
  color: #336699;
  background-color: #FFCC66;
}

button:hover {
  background-color: #ffbb00;
}

button:active {
  background-color: #ffe1a4;
}

.footer {
  padding: 16px 30px;
  background-color: #ffcc66;
  color: #336699;
  font-size: 18px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal.active {
  display: block;
}

.modalContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  max-width: 100%;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 180px;
  width: 180px;
  padding: 10px;
  background-color: #336699;
  border: 2px solid #003366;
  border-radius: 5px;
}

p {
  color: #ffcc66;
  font-size: 30px;
  margin: 0px;
}

.replayButton {
  border: 5px solid #FFCC66;
  background-color: #336699;
  color: #fff;
}

.replayButton:hover {
  background-color: #003366;
}

.replayButton:active {
  background-color: #396999;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .header, .mainContainer, .footer {
    padding-left: 5px;
    padding-right: 5px;
  }
}